COMPOSE_PROJECT_NAME=map-server

POSTGRES_DB=maps
POSTGRES_USER=maps
POSTGRES_PASSWORD=change_me_in_production

OSM_URL=https://download.geofabrik.de/south-america/bolivia-latest.osm.pbf
OSM_DIR=maps/osm
OSM_FILE=bolivia-latest.osm.pbf

OSRM_IMAGE=osrm/osrm-backend:latest
OSRM_DATA_DIR=osrm/data
OSRM_ALGORITHM=mld
OSRM_FILE=bolivia-latest.osrm

DOMAIN=maps.cybernovatech.space
SSL_EMAIL=admin@cybernovatech.space
